# Configure npm to use GitHub token for private repositories
# Vercel will automatically use the GITHUB_TOKEN environment variable if set
# For local development, you may need to set: //registry.npmjs.org/:_authToken=YOUR_TOKEN
# Or use: git config --global url."https://github.com/".insteadOf ssh://git@github.com/
